form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #323234;
  padding: 20px;
}

form fieldset {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

form input {
  color: white;
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 20px;
  background-color: rgb(49 150 230 / 45%);
}

form input::placeholder {
  color: white;
  font-size: 1rem;
}

form textarea {
  color: white;
  background-color: rgb(49 150 230 / 45%);
  height: 100px;
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 20px;
  resize: none;
}

form textarea::placeholder {
  color: white;
  font-size: 1rem;
}

input[type="submit"] {
  align-self: flex-end;
}
