#about p {
  color: var(--light);
}

.about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-info p,
img {
  width: 100%;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
.about-info {
  flex-direction: row;
  align-items: center;
}
}
