.card {
  background-color: var(--white);
  color: var(--dark);
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
  margin: 1rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card-body {
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card p {
  height: fit-content;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .card {
    width: 512px;
  }
}
